<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Gani private lmt" parallel="tests" thread-count="3">
<parameter name="URL"  value="gani.com"></parameter>
<test name="Regression And Smoke Groups ">
		<groups>
			<run>
				<include name="Regerssion" />
				<include name="Smoke" />
			</run>
		</groups>
			</test>
	<test name="loan's and cards" parallel="classes" thread-count="5">
	
		<classes>
			<class name="practiceTestNg.Cards">
				<methods>
					<exclude name="creditCard"></exclude>
				</methods>
			</class>
			<class name="practiceTestNg.PersonalLoan" />
		</classes>
	</test>
	<test name="Mobiles And PensAndBooks">
		<classes>
			<class name="practiceTestNg.Mobiles" />
			<class name="practiceTestNg.BooksAndPens">
			</class>
			<class name="practiceTestNg.VehicalLoan">
				<methods>
					<include name="carLoan()">
					</include>
				</methods>
			</class>
		</classes>
	</test>
</suite>
